
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV - Diego de Jesús Zamora Narváez</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card p-5">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img src="{{ url_for('static', filename='images/profile_picture.jpg') }}" alt="Foto de Perfil" class="profile-picture mx-auto d-block">
                            <h1>DIEGO DE JESÚS ZAMORA NARVÁEZ</h1>
                            <h2>Ingeniería en Sistemas Computacionales</h2>
                            <div class="mt-3">
                                <a href="https://github.com/DiegoZNz" target="_blank" class="social-icon"><i class="fab fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/diego-de-jesus-zamora-narvaez/" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h3 class="section-header">Contacto</h3>
                            <ul class="hidden">
                                <li><i class="fas fa-phone"></i> 427 182 5978</li>
                                <li><i class="fas fa-envelope"></i> diegozamora89158@gmail.com</li>
                                <li><i class="fas fa-map-marker-alt"></i> El marqués, Qro.</li>
                            </ul>

                            <h3 class="section-header">Idiomas</h3>
                            <ul class="hidden">
                                <li>Inglés (B2)</li>
                                <li>Español (nativo)</li>
                            </ul>

                            <h3 class="section-header">Habilidades</h3>
                            <ul class="hidden">
                                <li>Trabajo en equipo y liderazgo</li>
                                <li>Iniciativa y responsabilidad</li>
                                <li>Comunicación asertiva</li>
                                <li>Resolución de problemas</li>
                                <li>Desarrollo rápido de prototipos</li>
                            </ul>

                            <h3 class="section-header">Educación</h3>
                            <ul class="hidden">
                                <li>
                                    <h4>Universidad Politécnica de Querétaro</h4>
                                    <p>Agosto 2021 - Actualmente</p>
                                    <p>Ingeniería en Sistemas Computacionales</p>
                                </li>
                                <li>
                                    <h4>Centro de Bachillerato Tecnológico, Industrial y de Servicios (CBTis) 145. "Venustiano Carranza"</h4>
                                    <p>Agosto 2018 - Agosto 2021</p>
                                    <p>Técnico Bachiller en Programación</p>
                                </li>
                            </ul>

                            <h3 class="section-header">Logros</h3>
                            <ul class="hidden">
                                <li>
                                    <h4>Ganador Hackathon Querétaro Digital 2da edición Noviembre 2023</h4>
                                    <p>Obtuve el 1er lugar en el "Hackathon Querétaro Digital 2da edición" entre 28 equipos</p>
                                </li>
                            </ul>

                            <h3 class="section-header">Proyectos destacados</h3>
                            <ul class="hidden">
                                <li>
                                    <h4>Proyecto V-My Eyes | Interprete del entorno para personas con discapacidad visual.</h4>
                                    <p>Desarrollado en Python para implementar el modelo de visión artificial YOLOv4, mejorando la precisión de la detección de objetos en tiempo real.</p>
                                    <p>Hackathon Querétaro Digital</p>
                                    <p>Noviembre 2023</p>
                                </li>
                                <li>
                                    <h4>Sistema web desarrollado con el microframework Flask y MySQL</h4>
                                    <p>Universidad Politécnica de Querétaro</p>
                                    <p>Septiembre 2022 - Diciembre 2022 (Estancia I)</p>
                                </li>
                            </ul>

                            <h3 class="section-header">Experiencia Académica</h3>
                            <ul class="hidden">
                                <li>
                                    <h4>Auxiliar de Mantenimiento</h4>
                                    <p>Universidad Politécnica de Querétaro</p>
                                    <p>Septiembre 2022</p>
                                    <ul>
                                        <li>Mantenimiento a equipos de cómputo.</li>
                                        <li>Instalación de software.</li>
                                        <li>Instalación de sistemas operativos.</li>
                                    </ul>
                                </li>
                            </ul>

                            <h3 class="section-header">Conocimientos</h3>
                            <ul class="hidden">
                                <li>Python</li>
                                <li>JavaScript</li>
                                <li>PHP</li>
                                <li>Java</li>
                                <li>SQL</li>
                                <li>Transact-SQL</li>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Bootstrap</li>
                                <li>Git</li>
                                <li>Laravel 10</li>
                                <li>Flask</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>
